# Data Preprocessing

## Import libraries

In [7]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import dataset

In [12]:
dataset = pd.read_csv("Data/aac_intakes_outcomes.csv")
len(dataset)
print(dataset.head())

  age_upon_outcome animal_id_outcome        date_of_birth outcome_subtype  \
0         10 years           A006100  2007-07-09 00:00:00             NaN
1          7 years           A006100  2007-07-09 00:00:00             NaN
2          6 years           A006100  2007-07-09 00:00:00             NaN
3         10 years           A047759  2004-04-02 00:00:00         Partner
4         16 years           A134067  1997-10-16 00:00:00             NaN

      outcome_type sex_upon_outcome  age_upon_outcome_(days)  \
0  Return to Owner    Neutered Male                     3650
1  Return to Owner    Neutered Male                     2555
2  Return to Owner    Neutered Male                     2190
3         Transfer    Neutered Male                     3650
4  Return to Owner    Neutered Male                     5840

   age_upon_outcome_(years) age_upon_outcome_age_group     outcome_datetime  \
0                      10.0                (7.5, 10.0]  2017-12-07 14:07:00
1                       7.0                 (5.0, 7.5]  2014-12-20 16:35:00
2                       6.0                 (5.0, 7.5]  2014-03-08 17:10:00
3                      10.0                (7.5, 10.0]  2014-04-07 15:12:00
4                      16.0               (15.0, 17.5]  2013-11-16 11:54:00

   ...  age_upon_intake_age_group      intake_datetime intake_month  \
0  ...                (7.5, 10.0]  2017-12-07 00:00:00           12
1  ...                 (5.0, 7.5]  2014-12-19 10:21:00           12
2  ...                 (5.0, 7.5]  2014-03-07 14:26:00            3
3  ...                (7.5, 10.0]  2014-04-02 15:55:00            4
4  ...               (15.0, 17.5]  2013-11-16 09:02:00           11

  intake_year  intake_monthyear  intake_weekday  intake_hour  intake_number  \
0        2017           2017-12        Thursday           14            1.0
1        2014           2014-12          Friday           10            2.0
2        2014           2014-03          Friday           14            3.0
3        2014           2014-04       Wednesday           15            1.0
4        2013           2013-11        Saturday            9            1.0

             time_in_shelter time_in_shelter_days
0  0 days 14:07:00.000000000             0.588194
1  1 days 06:14:00.000000000             1.259722
2  1 days 02:44:00.000000000             1.113889
3  4 days 23:17:00.000000000             4.970139
4  0 days 02:52:00.000000000             0.119444

[5 rows x 41 columns]

## Filter dogs from dataset

In [9]:
dogs_df = dataset[dataset['animal_type'] == 'Dog'].reset_index()
del dogs_df['index']

print(len(dogs_df))
dogs_df.head()

45366

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

# Check which fields have nan values

In [10]:
dogs_df.apply(lambda x: sum(x.isnull()/len(dogs_df)))

age_upon_outcome              0.000000
animal_id_outcome             0.000000
date_of_birth                 0.000000
outcome_subtype               0.696513
outcome_type                  0.000044
sex_upon_outcome              0.000022
age_upon_outcome_(days)       0.000000
age_upon_outcome_(years)      0.000000
age_upon_outcome_age_group    0.000000
outcome_datetime              0.000000
outcome_month                 0.000000
outcome_year                  0.000000
outcome_monthyear             0.000000
outcome_weekday               0.000000
outcome_hour                  0.000000
outcome_number                0.000000
dob_year                      0.000000
dob_month                     0.000000
dob_monthyear                 0.000000
age_upon_intake               0.000000
animal_id_intake              0.000000
animal_type                   0.000000
breed                         0.000000
color                         0.000000
found_location                0.000000
intake_condition              0.000000
intake_type                   0.000000
sex_upon_intake               0.000022
count                         0.000000
age_upon_intake_(days)        0.000000
age_upon_intake_(years)       0.000000
age_upon_intake_age_group     0.000000
intake_datetime               0.000000
intake_month                  0.000000
intake_year                   0.000000
intake_monthyear              0.000000
intake_weekday                0.000000
intake_hour                   0.000000
intake_number                 0.000000
time_in_shelter               0.000000
time_in_shelter_days          0.000000
dtype: float64

## Save split datasets

In [11]:
dogs_df.to_csv(r'C:\Users\Matthew\Desktop\Adoption Data Models\Data\dogs_intakes_outcomes_working.csv', index=False, encoding='utf-8')